@page "/listahechos"
@using NetCoreAPIYFrontBlazor.Client.Services;
@using NetCoreAPIYFrontBlazor.Shared;
@using Microsoft.AspNetCore.Components.QuickGrid;
@inject HttpClient Http
@inject IHechosService _hechosService
@inject IJSRuntime JS


<PageTitle>Hechos Historicos</PageTitle>

<h1>Hechos Historicos</h1>

<p>Lectura de datos</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        @mensaje
    </p>
    <button class="btn btn-primary" @onclick="@(()=>Alta())">Nuevo</button>
    <QuickGrid Items="@hechos" @ref="grid" Pagination="@pagination">

        <PropertyColumn Property="@(p => p.anio)" Sortable="true" Title="Año" Align="Align.Center" IsDefaultSort="SortDirection.Descending">
            <ColumnOptions>
                <label>
                    <input type="text" @bind="limite" />Menor que
                </label>
                <button class="btn btn-primary" @onclick="@(()=>Filtrar())">Filtrar</button>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Property="@(p => p.nombre.ToUpper())" Sortable="true" Title="Hecho" />
        <PropertyColumn Property="@(p => p.descripcion)" Sortable="true" Title="Detalle" />
        <TemplateColumn Title="Acciones">
            <button class="btn btn-primary" @onclick="@(()=>Editar(context))">Editar</button>
        </TemplateColumn>

    </QuickGrid>
    <Paginator Value="@pagination"/>


  
}

@code {
    private HechoDto[]? forecasts;
    private IQueryable<HechoDto> hechos;
    private IQueryable<HechoDto> maestroHechos;
    QuickGrid<HechoDto>? grid;
    private string? mensaje ="";
    int limite = DateTime.Now.Year;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        forecasts = await _hechosService.GetDatosHechosLista();
        hechos = forecasts.AsQueryable();
        maestroHechos = hechos; 

        //forecasts = await Http.GetFromJsonAsync<HechoDto[]>("https://localhost:7162/Hechos/Lista");
        //retorno = await Http.GetStringAsync("https://localhost:7162/Hechos/Lista");

    }

    public void Alta()
    {
        mensaje = "Creando Nuevo";
    }

    public void Editar(HechoDto hecho)
    {
        mensaje = "Editando a " + hecho.nombre;
    }

    public async Task Filtrar()
    {
        if (limite < DateTime.Now.Year)
        {
            hechos = maestroHechos.Where(p => p.anio <= limite);
        }
        else
        {
            hechos = maestroHechos;
        }
        await grid!.RefreshDataAsync();
    }

}

